.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-step22110 {
  width: 1440px;
  height: 1363px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.home-navigationbar2111 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-image {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 40px;
  position: absolute;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.07999999821186066) ;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(254, 254, 254, 1);
}
.home-text {
  top: 12px;
  left: 184px;
  color: rgba(159, 159, 159, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Public Sans;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-ig2115 {
  top: 8px;
  left: 1266px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.home-svg {
  top: 4px;
  left: 4px;
  width: 17;
  height: 17;
  position: absolute;
}
.home-facbook2123 {
  top: 8px;
  left: 1234px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.home-svg1 {
  top: 4px;
  left: 8px;
  width: 8;
  height: 17;
  position: absolute;
}
.home-text01 {
  top: 120px;
  left: 212px;
  color: rgba(0, 0, 0, 1);
  width: 620px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Hind;
  font-weight: 700px;
  line-height: 52px;
  font-stretch: normal;
  text-decoration: none;
}
.home-component272127 {
  top: 207px;
  left: 213px;
  width: 557px;
  height: 74px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-image01 {
  top: 0px;
  left: 0px;
  width: 557px;
  height: 74px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(205, 138, 101, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.home-text02 {
  top: 16px;
  left: 24px;
  color: rgba(47, 47, 47, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-text03 {
  top: 37px;
  left: 24px;
  color: rgba(159, 159, 159, 1);
  width: 220px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-component302131 {
  top: 290px;
  left: 213px;
  width: 557px;
  height: 74px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-image02 {
  top: 0px;
  left: 0px;
  width: 557px;
  height: 74px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(223, 223, 223, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.home-text04 {
  top: 16px;
  left: 24px;
  color: rgba(47, 47, 47, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-text05 {
  top: 37px;
  left: 24px;
  color: rgba(159, 159, 159, 1);
  width: 220px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-component282135 {
  top: 375px;
  left: 213px;
  width: 557px;
  height: 74px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-image03 {
  top: 0px;
  left: 0px;
  width: 557px;
  height: 74px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(223, 223, 223, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.home-text06 {
  top: 16px;
  left: 24px;
  color: rgba(47, 47, 47, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-text07 {
  top: 37px;
  left: 24px;
  color: rgba(159, 159, 159, 1);
  width: 220px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-component292139 {
  top: 469px;
  left: 213px;
  width: 557px;
  height: 80px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-image04 {
  top: 0px;
  left: 0px;
  width: 557px;
  height: 80px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(223, 223, 223, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.home-text08 {
  top: 16px;
  left: 24px;
  color: rgba(47, 47, 47, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-text09 {
  top: 43px;
  left: 61px;
  color: rgba(159, 159, 159, 1);
  width: 220px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-image05 {
  top: 41px;
  left: 26px;
  width: 23px;
  height: 23px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-text10 {
  top: 175px;
  left: 213px;
  color: rgba(47, 47, 47, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 19px;
  text-decoration: none;
}
.home-mask-group2152 {
  top: 208px;
  left: 998px;
  width: 192px;
  height: 491px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.home-image06 {
  top: 18px;
  left: -37px;
  width: 244px;
  height: 602px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-button2155 {
  top: 560px;
  left: 652px;
  width: 124px;
  display: flex;
  padding: 20px 24px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07000000029802322) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 100px;
  background-color: rgba(159, 159, 159, 1);
}
.home-text11 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 19px;
  text-decoration: none;
}
.home-frame001paw12161 {
  top: 341px;
  left: 573px;
  width: 34px;
  height: 34px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-group2162 {
  top: 15.040775299072266px;
  left: 5.574516296386719px;
  width: 23px;
  height: 16.574935913085938px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.home-image07 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 17px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-group2165 {
  top: 2.3844666481018066px;
  left: 17.60701560974121px;
  width: 9px;
  height: 12.267160415649414px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.home-image08 {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-group2168 {
  top: 2.384291172027588px;
  left: 7.431906700134277px;
  width: 9px;
  height: 12.267292022705078px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.home-image09 {
  top: 0px;
  left: 0px;
  width: 9px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-group2171 {
  top: 11.416060447692871px;
  left: 26.386503219604492px;
  width: 8px;
  height: 9.241618156433105px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.home-image10 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-group2174 {
  top: 11.415995597839355px;
  left: 0.000051628223445732147px;
  width: 8px;
  height: 9.241568565368652px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.home-image11 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-logonew12177 {
  top: 117px;
  left: 872px;
  width: 341px;
  height: 90px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-image12 {
  top: 16.05369758605957px;
  left: 102.34795379638672px;
  width: 239px;
  height: 58px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-image13 {
  top: 1.5805352926254272px;
  left: 0.000019073486328125px;
  width: 82px;
  height: 87px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-group572422 {
  top: 797px;
  left: 218px;
  width: 557px;
  height: 138px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.home-tag2423 {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 24.735849380493164px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-text12 {
  top: -2.603773593902588px;
  left: 0px;
  color: var(--dl-color-default-black46d45);
  width: 81px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 19px;
  text-decoration: none;
}
.home-component272425 {
  top: 41.66035461425781px;
  left: 0px;
  width: 557px;
  height: 96.3396224975586px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-image14 {
  top: 0px;
  left: 0px;
  width: 557px;
  height: 96px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(223, 223, 223, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.home-text13 {
  top: 16px;
  left: 24px;
  color: rgba(47, 47, 47, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-svg2 {
  top: 45.5660400390625px;
  left: 518.6640014648438px;
  width: 11;
  height: 7;
  position: absolute;
}
.home-text14 {
  top: 37px;
  left: 24px;
  color: rgba(159, 159, 159, 1);
  width: 220px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-text15 {
  top: -32px;
  left: 483px;
  color: rgba(47, 47, 47, 1);
  height: auto;
  opacity: 0.80;
  position: absolute;
  align-self: auto;
  text-align: right;
  line-height: 19px;
  text-decoration: none;
}
.home-group462431 {
  top: 953px;
  left: 239px;
  width: 590px;
  height: 85px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.home-tag2432 {
  top: 0px;
  left: 0px;
  width: 194px;
  height: 19px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-text16 {
  top: -2px;
  left: 0px;
  color: rgba(47, 47, 47, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 19px;
  text-decoration: none;
}
.home-price2434 {
  top: 32px;
  left: 0px;
  width: 58px;
  display: flex;
  padding: 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: rgba(223, 223, 223, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.home-text17 {
  color: rgba(47, 47, 47, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-price2436 {
  top: 32px;
  left: 445px;
  width: 145px;
  display: flex;
  padding: 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: rgba(223, 223, 223, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.home-text18 {
  color: rgba(47, 47, 47, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-price2438 {
  top: 32px;
  left: 65px;
  width: 64px;
  display: flex;
  padding: 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: rgba(223, 223, 223, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.home-text19 {
  color: rgba(47, 47, 47, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-price2440 {
  top: 32px;
  left: 136px;
  width: 68px;
  display: flex;
  padding: 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: rgba(223, 223, 223, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.home-text20 {
  color: rgba(47, 47, 47, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-price2442 {
  top: 32px;
  left: 211px;
  width: 68px;
  display: flex;
  padding: 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: rgba(223, 223, 223, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.home-text21 {
  color: rgba(47, 47, 47, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-price2444 {
  top: 32px;
  left: 286px;
  width: 68px;
  display: flex;
  padding: 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: rgba(193, 233, 201, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-image: linear-gradient(115deg, rgba(205, 138, 100, 1) 0%, rgba(196, 121, 79, 1) 100%);
}
.home-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-price2446 {
  top: 32px;
  left: 361px;
  width: 75px;
  display: flex;
  padding: 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: rgba(223, 223, 223, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.home-text23 {
  color: rgba(47, 47, 47, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-group582448 {
  top: 1154px;
  left: 281px;
  width: 418px;
  height: 34px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.home-checkboxon2449 {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 34px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-image15 {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 34px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(243, 226, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.home-image16 {
  top: 5px;
  left: 5px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-text24 {
  top: 6px;
  left: 50px;
  color: rgba(47, 47, 47, 1);
  height: auto;
  opacity: 0.80;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-group262454 {
  top: 643px;
  left: 189px;
  width: 685px;
  height: 134px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.home-component282455 {
  top: 0px;
  left: 0px;
  width: 338px;
  height: 134px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-image17 {
  top: 0px;
  left: 0px;
  width: 338px;
  height: 134px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(205, 138, 101, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 24px 0 0 24px;
  background-color: rgba(250, 249, 249, 1);
}
.home-text25 {
  top: 84px;
  left: 68px;
  color: rgba(88, 87, 87, 1);
  width: 220px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
.home-icon2458 {
  top: 0px;
  left: 125px;
  width: 80px;
  height: 80px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.home-svg3 {
  width: 80;
  height: 80;
  position: absolute;
}
.home-wallet2460 {
  top: 24px;
  left: 24px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-groupwifi3312i2460241124 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-wallet33311i2460241137 {
  top: 1px;
  left: 1px;
  width: 29px;
  height: 29px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-outline-icons-i2460241137241115 {
  top: 0.6041724681854248px;
  left: 0.6041724681854248px;
  width: 28px;
  height: 27.054105758666992px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.home-image18 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 27px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-image19 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-component282461 {
  top: -2.2737367544323206e-13px;
  left: 338.0673828125px;
  width: 347px;
  height: 134px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-image20 {
  top: 0px;
  left: -0.19576820731163025px;
  width: 347px;
  height: 134px;
  position: absolute;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07000000029802322) ;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 0 24px 24px 0;
  background-image: linear-gradient(180deg, rgba(205, 138, 101, 1) 0%, rgba(187, 106, 61, 1) 100%);
}
.home-icon2463 {
  top: 0px;
  left: 142.15261840820312px;
  width: 80px;
  height: 80px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.home-svg4 {
  width: 80;
  height: 80;
  position: absolute;
}
.home-image21 {
  top: 24px;
  left: 24px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-treebig433112467 {
  top: 24px;
  left: 24px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(99, 66, 66, 1);
}
.home-image22 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-text26 {
  top: 86px;
  left: 33.9326171875px;
  color: rgba(255, 255, 255, 1);
  width: 296px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  text-decoration: none;
}
